<launch>
    <!-- Common Interface -->
    <arg name="rate" default="20"/>

    <!-- Camera Settings -->
    <arg name="left" default="25000075"/>
    <arg name="right" default="25000060"/>
    <arg name="left_camera_name" default="mv_$(arg left)"/>
    <arg name="right_camera_name" default="mv_$(arg right)"/>
    <arg name="left_calib_url" default="file://${ROS_HOME}/camera_info/$(arg left_camera_name).yaml"/>
    <arg name="right_calib_url" default="file://${ROS_HOME}/camera_info/$(arg right_camera_name).yaml"/>

    <arg name="camera" default="stereo"/>
    <arg name="frame_id" default="$(arg camera)"/>
    <arg name="fps" default="$(arg rate)"/>
    <arg name="color" default="false"/>
    <arg name="aec" default="0"/>
    <arg name="cbm" default="false"/>
    <arg name="ctm" default="2"/>
    <arg name="dcfm" default="0"/>
    <arg name="hdr" default="false"/>
    <arg name="wbp" default="-1"/>
    <arg name="expose_us" default="5000"/>
    <arg name="gain_db" default="0.0"/>
    <arg name="boost" default="false"/>
    <arg name="mode" default="not working"/>
    <arg name="trigger" default="OnHighLevel"/>
 	<arg name="startsignal" default="starttrigger"/>

    <!-- Node Settings -->
    <arg name="output" default="screen"/>
     
     <!-- Node Start trigger signal -->
    <node pkg="bluefox2" type="start_triggering" name="StarterTriggerSignal" output="$(arg output)">
        <param name="cam1" type="string" value="$(arg left_camera_name)"/>
        <param name="cam2" type="string" value="$(arg right_camera_name)"/>
        <param name="starttopic" type="string" value= <$(arg startsignal)"/>
    </node>
     
     
     <!-- Node left camera camera -->
    <node pkg="bluefox2" type="single_node" name="$(arg left_camera_name)" output="$(arg output)">
        <param name="identifier" type="string" value="$(arg left)"/>
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="camera_name" type="string" value="$(arg left_camera_name)"/>
        <param name="calib_url" type="string" value="$(arg left_calib_url)"/>
        <param name="fps" type="double" value="$(arg fps)"/>
        <param name="color" type="bool" value="$(arg color)"/>
        <param name="aec" type="int" value="$(arg aec)"/>
        <param name="cbm" type="bool" value="$(arg cbm)"/>
        <param name="ctm" type="int" value="$(arg ctm)"/>
        <param name="dcfm" type="int" value="$(arg dcfm)"/>
        <param name="hdr" type="bool" value="$(arg hdr)"/>
        <param name="wbp" type="int" value="$(arg wbp)"/>
        <param name="expose_us" type="int" value="$(arg expose_us)"/>
        <param name="gain_db" type="double" value="$(arg gain_db)"/>
        <param name="boost" type="bool" value="$(arg boost)"/>
        <param name="mode" type="string" value="$(arg mode)"/>
        <param name="trigger" type="string" value="$(arg trigger)"/>
    </node>
    
       <!-- Node right camera camera -->
    <node pkg="bluefox2" type="single_node" name="$(arg right_camera_name)" output="$(arg output)">
        <param name="identifier" type="string" value="$(arg right)"/>
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="camera_name" type="string" value="$(arg right_camera_name)"/>
        <param name="calib_url" type="string" value="$(arg right_calib_url)"/>
        <param name="fps" type="double" value="$(arg fps)"/>
        <param name="color" type="bool" value="$(arg color)"/>
        <param name="aec" type="int" value="$(arg aec)"/>
        <param name="cbm" type="bool" value="$(arg cbm)"/>
        <param name="ctm" type="int" value="$(arg ctm)"/>
        <param name="dcfm" type="int" value="$(arg dcfm)"/>
        <param name="hdr" type="bool" value="$(arg hdr)"/>
        <param name="wbp" type="int" value="$(arg wbp)"/>
        <param name="expose_us" type="int" value="$(arg expose_us)"/>
        <param name="gain_db" type="double" value="$(arg gain_db)"/>
        <param name="boost" type="bool" value="$(arg boost)"/>
        <param name="mode" type="string" value="$(arg mode)"/>
        <param name="trigger" type="string" value="$(arg trigger)"/>
    </node>
    
    
   
</launch>
